<h1>Listing Favours</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favours.each do |favour| %>
      <tr>
        <td><%= favour.title %></td>
        <td><%= favour.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>