<h1>LEGENDS</h1>

<% @users.each do |user| %>
	<%= user.name %>
	<br>
<% end %>

<%= link_to "New Favour", new_favour_path %>
<%= link_to "Current FAVOURS", favours_path %>
<%= link_to "LEGENDS", users_path %>